@import '_settings'

normalize()
base()

blockquote
	:before
		content "“"
		float left
		padding-right 0.1em
		margin-top 0.35em
	:after 
		content "”"
		line-height 0
		position relative
		top 0.55em
		padding-left 0.1em
	:after, :before
		font-size 4em
		color #BCB
		

	blockquote()


body
	padding: 50px

.textblob
	width 35em
	text-align justify