---
title: roots
layout: ../views/_tech.jade
---

:markdown
	app generator / build system
	tailored to single, monolithic webapp, compiles to one app.js
	many extensions for file types
	not usable for un-app-y build flows
	fast
	stable
	(did 10+ projects with that)