---
title: Metalsmith
layout: ../views/tech.jade
---

:markdown
	# Metalsmith

	super small static site generator.

	lacks development features.

	more of a directory structure manipulation pipeline, pluggable system.

	can transform trees of files through plugins.

	files have metadata (front matter), but are not aware of relationships between files, for example templates -> documents.