---
title: roots
layout: ../views/_tech.jade
---

:markdown
	layout has to be present for page.url to exist, wat

	jade template inheritance does not seem to work

	changing template does not start recompile

	you have to ignore layout files, then recompile will work